.page-enter-active, .page-leave-active {
    transition: opacity .4s;
  }
  .page-enter, .page-leave-to {
    opacity: 0;
  }

  .navbar-toggler {
    padding: 0;
    border: none;
  }
  .navbar-toggler img {
    width: 45px;
  }
  .navbar-toggler:focus {
    border: none;
    outline: none;
  }